/*
	Identity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/
/* Basic */
body {
  background-image: url("../../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed; }
  body:after {
    display: none; }

/* List */
ul.icons li a:before {
  color: #c8cccf; }
ul.icons li a:hover:before {
  color: #808080; }

/* Wrapper */
#wrapper {
  text-align: center; }

/* Main */
#main {
  display: inline-block; }

/*# sourceMappingURL=ie9.css.map */
