/*
	Identity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/
/* Basic */
body:after {
  display: none; }

/* Main */
#main {
  -moz-transform: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  opacity: 1 !important; }

/*# sourceMappingURL=noscript.css.map */
