@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Identity by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Footer */

	#footer {
		@include vendor('align-self', 'flex-end');
		width: 100%;
		padding: _size(element-margin) 0 0 0;
		cursor: default;
		text-align: center;

		.copyright {
			margin: 0;
			padding: 0;
			font-size: 0.9em;
			list-style: none;

			li {
				min-width: 10rem;
				display: inline-block;
				margin: 0 0 0 (0.85em - (_size(letter-spacing) * 2));
				padding: 0 0 0 0.85em;
				line-height: 1;

				img {
					vertical-align: middle;
					max-height: 1rem;
				}

				&:first-child {
					border-left: 0;
				}
			}
		}
	}
