@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Identity by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Main */

	#main {
		position: relative;
		max-width: 100%;
		min-width: 27em;
		@include padding(4.5em, 3em);

		border-radius: _size(border-radius);
		cursor: default;
		opacity: 0.95;
		text-align: center;

		@include vendor('transform-origin', '50% 50%');
		@include vendor('transform', 'rotateX(0deg)');
		@include vendor('transition', (
			'opacity #{_duration(main)} ease',
			'transform #{_duration(main)} ease'
		));

		.avatar {
			position: relative;
			display: block;
			margin-bottom: _size(element-margin);

			img {
				display: block;
				margin: 0 auto;
				max-height: 5rem;
			}
		}

		@include breakpoint(xsmall) {
			min-width: 0;
			width: 100%;
			@include padding(4em, 2em);
		}

		body.is-loading & {
			opacity: 0;
			@include vendor('transform', 'rotateX(15deg)');
		}
	}
